*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: yellow;
}
img{
  max-width: 300px;
}
.container{
  margin: 0 auto;
  background: #002451;
  color: #B8F171; 

}
.country-names{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  position: relative;
  bottom: -60px;
  color: yellowgreen;
  font-size: 24px;
  font-weight: bold;
}
.flags-text{
  display: flex;
  width: 350px;
  /* height: 100px; */
  word-wrap: normal;
  letter-spacing: 3px;
  font-size: 14px;
  font-family: monospace;
  margin-top: 30px;
}
.flag-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 12px;
  padding: 50px;
}
.flags{
  border-radius: 10px;
}